<!-- Header Page Layout -->
<%- include('./includes/header') %>
    <!-- END Header Page Layout -->
    <style>[_nghost-serverApp-c153] {
        display: block;
        height: 100%
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] {
        position: relative;
        height: 60px;
        overflow: hidden
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 3%;
        white-space: nowrap;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
        background: linear-gradient(325deg, #5fa9c1 11.6%, #347d9e 97.59%)
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper.no-arrow {
        width: 100%;
        margin: 0;
        padding: 0
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-next[_ngcontent-serverApp-c153],
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-prev[_ngcontent-serverApp-c153] {
        position: absolute;
        top: 0;
        width: 13px;
        height: 100%;
        margin-top: 0;
        --tw-bg-opacity: 1;
        background-color: rgb(45 118 153 / var(--tw-bg-opacity, 1));
        opacity: 1;
        z-index: 2
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-next[_ngcontent-serverApp-c153] i[_ngcontent-serverApp-c153],
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-prev[_ngcontent-serverApp-c153] i[_ngcontent-serverApp-c153] {
        font-size: 12px;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1))
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-next[_ngcontent-serverApp-c153]:after,
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-prev[_ngcontent-serverApp-c153]:after {
        display: none
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-prev[_ngcontent-serverApp-c153] {
        left: 0
    }
    
    .section-category-wrap[_ngcontent-serverApp-c153] .swiper-button-next[_ngcontent-serverApp-c153] {
        right: 0
    }
    
    .entrance[_ngcontent-serverApp-c153] {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
        vertical-align: top
    }
    
    .entrance[_ngcontent-serverApp-c153] i[_ngcontent-serverApp-c153] {
        margin-bottom: 3px;
        font-size: 19px
    }
    
    .entrance[_ngcontent-serverApp-c153] i[_ngcontent-serverApp-c153] img[_ngcontent-serverApp-c153] {
        height: 20px;
        object-fit: contain
    }
    
    .entrance[_ngcontent-serverApp-c153] .title[_ngcontent-serverApp-c153] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        min-height: 22px;
        line-height: 1.1;
        text-align: center;
        text-transform: uppercase;
        white-space: break-spaces;
        font-size: 9px
    }
    
    .entrance.active[_ngcontent-serverApp-c153] {
        --tw-bg-opacity: 1;
        background-color: rgb(107 176 200 / var(--tw-bg-opacity, 1))
    }
    
    .entrance[_ngcontent-serverApp-c153] .svg[_ngcontent-serverApp-c153] {
        display: block;
        width: 26px;
        height: 26px;
        margin-bottom: 3px;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat
    }
    
    .entrance[_ngcontent-serverApp-c153] .svg-cock[_ngcontent-serverApp-c153] {
        -webkit-mask-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/cock.2b73dc4810770360.svg);
        mask-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/cock.2b73dc4810770360.svg)
    }
    
    .btn-toggle-bg[_ngcontent-serverApp-c153] {
        position: absolute;
        z-index: 2;
        left: 50%;
        width: 98px;
        height: 14px;
        background: rgba(24, 128, 164, .5);
        transform: translate(-50%);
        border-radius: 0 0 5px 5px
    }
    
    .btn-toggle-bg[_ngcontent-serverApp-c153]>img[_ngcontent-serverApp-c153] {
        max-height: 50%;
        margin: 0 auto
    }
    
    .bgImg[_ngcontent-serverApp-c153] {
        display: block;
        margin-bottom: -6%
    }
    
    .bgImg.sport[_ngcontent-serverApp-c153] {
        margin: .65rem auto 0;
        padding: 0 10px
    }
    
    .bgImg[_ngcontent-serverApp-c153]>img[_ngcontent-serverApp-c153] {
        width: 100%;
        max-height: 100%;
        margin: 0 auto
    }
    
    .game-part[_ngcontent-serverApp-c153] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 7px 10px 0
    }
    
    .game-item[_ngcontent-serverApp-c153] {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc((100% - 15px)/2);
        min-height: 90px;
        margin: .65rem 0;
        --tw-text-opacity: 1;
        color: rgb(45 118 153 / var(--tw-text-opacity, 1));
        text-align: center
    }
    
    .game-item[_ngcontent-serverApp-c153]:nth-child(2n) {
        margin-left: 15px
    }
    
    .game-item[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        margin: 0;
        word-break: break-all
    }
    
    .game-item[_ngcontent-serverApp-c153] .name[_ngcontent-serverApp-c153] {
        position: absolute;
        top: 63%;
        left: 3%;
        width: 46%;
        --tw-text-opacity: 1;
        color: rgb(45 118 153 / var(--tw-text-opacity, 1));
        font-size: 9px;
        line-height: 14px;
        text-transform: uppercase
    }
    
    .circle[_ngcontent-serverApp-c153] {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-height: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden
    }
    
    .circle[_ngcontent-serverApp-c153] i[_ngcontent-serverApp-c153] {
        position: absolute;
        z-index: 1;
        width: 30px;
        height: 30px;
        background: no-repeat center top;
        background-size: contain
    }
    
    .circle[_ngcontent-serverApp-c153] i.event[_ngcontent-serverApp-c153] {
        top: 0;
        right: 0;
        background-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/events.e23c01f7521fdab9.png)
    }
    
    .circle[_ngcontent-serverApp-c153] i.hot[_ngcontent-serverApp-c153] {
        top: 0;
        left: 0;
        background-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/hot.0cd38f347d2485db.png)
    }
    
    .circle[_ngcontent-serverApp-c153] i.new[_ngcontent-serverApp-c153] {
        left: 0;
        bottom: 0;
        background-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/prize.c3f3768bcac8ed7e.png)
    }
    
    .circle[_ngcontent-serverApp-c153] .enter[_ngcontent-serverApp-c153] {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 66px;
        height: 15px;
        font-size: 12px;
        line-height: 16px;
        --tw-text-opacity: 1;
        color: rgb(128 128 128 / var(--tw-text-opacity, 1));
        --tw-bg-opacity: 1;
        background-color: rgb(123 191 212 / var(--tw-bg-opacity, 1));
        border-radius: 8px 0 5px
    }
    
    .circle[_ngcontent-serverApp-c153] .enter[_ngcontent-serverApp-c153] span[_ngcontent-serverApp-c153],
    .circle[_ngcontent-serverApp-c153] .enter[_ngcontent-serverApp-c153] i[_ngcontent-serverApp-c153] {
        display: inline-block;
        margin: 0 1px
    }
    
    .Hot[_ngcontent-serverApp-c153] li[_ngcontent-serverApp-c153] {
        position: relative;
        width: 31%;
        min-height: 80px;
        margin: 7px 3.5% 0 0
    }
    
    .Hot[_ngcontent-serverApp-c153] li[_ngcontent-serverApp-c153]:nth-child(3n) {
        margin-right: 0
    }
    
    .Hot[_ngcontent-serverApp-c153] li[_ngcontent-serverApp-c153] img[_ngcontent-serverApp-c153] {
        position: unset;
        width: 100%
    }
    
    .Hot[_ngcontent-serverApp-c153] .gameimg-wrapper[_ngcontent-serverApp-c153] {
        padding: 1px;
        background: linear-gradient(306deg, #357e9f 25%, #ffffff 50%, #357e9f 80%, #ffffff 100%);
        border-radius: 16px
    }
    
    .Hot[_ngcontent-serverApp-c153] .gameimg-wrapper[_ngcontent-serverApp-c153] img[_ngcontent-serverApp-c153] {
        display: block;
        width: 100%;
        border-radius: 16px;
        object-fit: contain;
        background: linear-gradient(358deg, #cff3ff 5%, #ffffff 65%)
    }
    
    .Hot[_ngcontent-serverApp-c153] .circle[_ngcontent-serverApp-c153] {
        width: 100%;
        background: none;
        flex-direction: column;
        box-shadow: none
    }
    
    .Hot[_ngcontent-serverApp-c153] .circle[_ngcontent-serverApp-c153]:before {
        display: none
    }
    
    .Hot[_ngcontent-serverApp-c153] .name[_ngcontent-serverApp-c153] {
        position: initial;
        width: 100%;
        height: 14px;
        line-height: 14px;
        margin-top: 2px;
        padding: 0 3px;
        transform: none;
        --tw-text-opacity: 1;
        color: rgb(31 96 124 / var(--tw-text-opacity, 1));
        background: none;
        border-top: none
    }
    
    .Hot[_ngcontent-serverApp-c153] .name[_ngcontent-serverApp-c153] span[_ngcontent-serverApp-c153] {
        display: block;
        width: 100%;
        font-size: 9px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
    }
    
    .Hot[_ngcontent-serverApp-c153] .enter[_ngcontent-serverApp-c153] {
        display: none
    }
    
    .main-footer[_ngcontent-serverApp-c153] {
        background: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/footer-background.1007258d1c120ffd.png);
        background-position: top;
        background-repeat: no-repeat
    }
    
    .main-footer.full[_ngcontent-serverApp-c153] {
        background-size: cover
    }
    
    .jackpot-wrapper[_ngcontent-serverApp-c153] {
        margin-top: 20px;
        padding: 10px
    }
    
    .jackpot-border[_ngcontent-serverApp-c153] {
        padding: 2px;
        background: linear-gradient(306deg, #357e9f 25%, #ffffff 50%, #357e9f 80%, #ffffff 100%);
        border-radius: 16px
    }
    
    .jackpot-bg[_ngcontent-serverApp-c153] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
        background: linear-gradient(0deg, #cff3ff 2%, #fff 69.62%);
        border-radius: 16px
    }
    
    .jackpot-title[_ngcontent-serverApp-c153] {
        padding: 5px;
        width: 40%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 8px
    }
    
    .gold[_ngcontent-serverApp-c153] {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 20px;
        padding: 3px 5px
    }
    
    .gold[_ngcontent-serverApp-c153] li[_ngcontent-serverApp-c153] {
        padding: 1px;
        --tw-bg-opacity: 1;
        background-color: rgb(53 126 159 / var(--tw-bg-opacity, 1));
        border-radius: 6px
    }
    
    .gold[_ngcontent-serverApp-c153] li[_ngcontent-serverApp-c153]>div[_ngcontent-serverApp-c153] {
        --tw-text-opacity: 1;
        color: rgb(53 126 159 / var(--tw-text-opacity, 1));
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
        padding: 0 5px;
        background: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/jackpot_number_bg.0e4c57f6dd31729f.png) center no-repeat;
        background-size: cover;
        border-radius: 6px
    }
    
    .jackpot-footer[_ngcontent-serverApp-c153] {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        overflow: hidden
    }
    
    .recommendGames[_ngcontent-serverApp-c153] {
        width: 50%;
        max-width: 225px;
        margin-top: 5px
    }
    
    .recommend-item[_ngcontent-serverApp-c153] {
        margin: 0 3px
    }
    
    .recommend-item[_ngcontent-serverApp-c153] .img-wrapper[_ngcontent-serverApp-c153] img[_ngcontent-serverApp-c153] {
        max-width: 100%;
        max-height: 100%
    }
    
    .recommend-item[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        display: none;
        margin: 0;
        font-size: 8px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    
    .info[_ngcontent-serverApp-c153] {
        padding-bottom: 26px;
        --tw-text-opacity: 1;
        color: rgb(14 116 144 / var(--tw-text-opacity, 1))
    }
    
    .info[_ngcontent-serverApp-c153] section[_ngcontent-serverApp-c153] {
        display: flex;
        justify-content: space-between;
        padding: 0 .75rem
    }
    
    .info[_ngcontent-serverApp-c153] section[_ngcontent-serverApp-c153]>div[_ngcontent-serverApp-c153] {
        width: 50%
    }
    
    .info[_ngcontent-serverApp-c153] section[_ngcontent-serverApp-c153]>div[_ngcontent-serverApp-c153]:first-child {
        width: 43%;
        white-space: nowrap
    }
    
    .info[_ngcontent-serverApp-c153] h2[_ngcontent-serverApp-c153] {
        margin: 0;
        font-size: 16px;
        font-weight: 700
    }
    
    .info[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        margin: 0;
        font-size: 14px;
        font-weight: 400
    }
    
    .info[_ngcontent-serverApp-c153] p.bold[_ngcontent-serverApp-c153] {
        font-size: 16px;
        font-weight: 700
    }
    
    .app[_ngcontent-serverApp-c153] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .75rem;
        background: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/app_bg.b83dbf3e8f93e1b3.png) no-repeat center/cover
    }
    
    .app[_ngcontent-serverApp-c153]>img[_ngcontent-serverApp-c153] {
        max-width: 50%
    }
    
    .btns[_ngcontent-serverApp-c153] a[_ngcontent-serverApp-c153] {
        display: block;
        width: 146.7px;
        height: 35.2px;
        line-height: 35.2px;
        padding-left: 30px;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
        font-size: 12px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    
    .btns[_ngcontent-serverApp-c153] a.ios[_ngcontent-serverApp-c153] {
        margin: 12px 0 0;
        background-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/ios.77a85a83c516ccaa.png)
    }
    
    .btns[_ngcontent-serverApp-c153] a.and[_ngcontent-serverApp-c153] {
        background-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/android.0fb1a60871e6892c.png)
    }
    
    .btns[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        margin: 10px 0;
        --tw-text-opacity: 1;
        color: rgb(53 126 159 / var(--tw-text-opacity, 1));
        text-align: center;
        text-decoration: underline;
        font-size: 13px;
        font-weight: 500
    }
    
    .sign[_ngcontent-serverApp-c153] {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 13px .75rem 0;
        --tw-text-opacity: 1;
        color: rgb(31 96 125 / var(--tw-text-opacity, 1))
    }
    
    .sign[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        margin: 0;
        font-size: 14px;
        font-weight: 400
    }
    
    .sign[_ngcontent-serverApp-c153] p.bold[_ngcontent-serverApp-c153] {
        font-size: 15px;
        font-weight: 700
    }
    
    .payment[_ngcontent-serverApp-c153] {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        --tw-text-opacity: 1;
        color: rgb(45 118 153 / var(--tw-text-opacity, 1))
    }
    
    .payment[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        margin-bottom: 8px
    }
    
    .payment[_ngcontent-serverApp-c153] img[_ngcontent-serverApp-c153] {
        max-height: 58px
    }
    
    .site[_ngcontent-serverApp-c153] {
        display: flex;
        justify-content: space-between;
        --tw-text-opacity: 1;
        color: rgb(45 118 153 / var(--tw-text-opacity, 1))
    }
    
    .site[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        margin-bottom: 12px
    }
    
    .site[_ngcontent-serverApp-c153]>div[_ngcontent-serverApp-c153]>a[_ngcontent-serverApp-c153] {
        display: inline-block;
        width: 28px
    }
    
    .site[_ngcontent-serverApp-c153]>div[_ngcontent-serverApp-c153]>a[_ngcontent-serverApp-c153]+a[_ngcontent-serverApp-c153] {
        margin-left: 11px
    }
    
    .link[_ngcontent-serverApp-c153] {
        --tw-text-opacity: 1;
        color: rgb(14 116 144 / var(--tw-text-opacity, 1))
    }
    
    .link[_ngcontent-serverApp-c153] li[_ngcontent-serverApp-c153] {
        width: 33%;
        height: 30px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 12px
    }
    
    .link[_ngcontent-serverApp-c153] li[_ngcontent-serverApp-c153] a[_ngcontent-serverApp-c153] {
        height: 100%;
        text-decoration: none
    }
    
    .description[_ngcontent-serverApp-c153] {
        position: relative;
        --tw-text-opacity: 1;
        color: rgb(45 118 153 / var(--tw-text-opacity, 1));
        font-family: Roboto;
        padding: 0 .75rem
    }
    
    .description[_ngcontent-serverApp-c153] h3[_ngcontent-serverApp-c153] {
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.4;
        text-align: center
    }
    
    .description[_ngcontent-serverApp-c153] h4[_ngcontent-serverApp-c153] {
        margin: 10px 0 0;
        font-weight: 700
    }
    
    .description[_ngcontent-serverApp-c153] p[_ngcontent-serverApp-c153] {
        margin: 0;
        --tw-text-opacity: 1;
        color: rgb(31 96 125 / var(--tw-text-opacity, 1));
        font-size: 13px;
        font-weight: 500;
        line-height: 1.2;
        text-align: justify
    }
    
    .description[_ngcontent-serverApp-c153] .btn-toggle-bg[_ngcontent-serverApp-c153] {
        position: static;
        display: block;
        width: 90px;
        margin: 0 auto;
        transform: none;
        --tw-bg-opacity: 1;
        background-color: rgb(123 191 212 / var(--tw-bg-opacity, 1));
        border-radius: 5px 5px 0 0
    }
    
    .app-dialog-panel {
        padding: 0
    }
    
    .app-dialog-panel .mat-dialog-container {
        position: relative;
        padding: 15px 17px;
        border-radius: 23px;
        box-shadow: 0 13px 6.3px #00000040;
        border: solid 3px #8ecfe1;
        background-color: #ffffff8c
    }
    
    .app-dialog-panel .swiper-button-next,
    .app-dialog-panel .swiper-button-prev {
        position: absolute;
        top: 40%;
        width: 25px;
        height: 28px;
        margin-top: 0;
        z-index: 2
    }
    
    .app-dialog-panel .swiper-button-next:before,
    .app-dialog-panel .swiper-button-prev:before {
        content: "";
        width: 100%;
        height: 100%;
        --tw-bg-opacity: 1;
        background-color: rgb(53 126 159 / var(--tw-bg-opacity, 1))
    }
    
    .app-dialog-panel .swiper-button-next:after,
    .app-dialog-panel .swiper-button-prev:after {
        display: none
    }
    
    .app-dialog-panel .swiper-button-prev {
        left: 0
    }
    
    .app-dialog-panel .swiper-button-prev:before {
        -webkit-mask-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/arrow_left.189d52b37ec01179.svg);
        mask-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/arrow_left.189d52b37ec01179.svg)
    }
    
    .app-dialog-panel .swiper-button-next {
        right: 0
    }
    
    .app-dialog-panel .swiper-button-next:before {
        -webkit-mask-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/arrow_right.83b52182d8166a28.svg);
        mask-image: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/arrow_right.83b52182d8166a28.svg)
    }
    
    .app-dialog-panel h2 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15vw;
        padding: 0 5px;
        line-height: 1.2;
        margin: 10px 0 0;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
        font-size: 4vw;
        font-weight: 700;
        text-align: center;
        background: url(https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/1b15a35c42/title_bg.7e85cce20b4c79ad.png) no-repeat center top/contain
    }
    
    .close[_ngcontent-serverApp-c153] {
        position: absolute;
        top: 13px;
        right: 13px;
        outline: none;
        z-index: 2
    }
    
    </style>
    <body class="mat-typography vi-VN">
        <app-root _nghost-sc178="" ng-version="14.2.12" ng-server-context="other" _nghost-serverapp-c157="">
            <app-sample-layout _nghost-serverapp-c91="">
                <app-normal-layout _nghost-serverapp-c151="">


                    <!-- Header Layout -->
                    <%- include('./includes/header_layout') %>
                        <!-- END Header Layout -->


                        <app-home _nghost-serverapp-c163="">


                            <!-- Banner Layout -->
                            <%- include('./includes/banner_layout') %>
                                <!-- END Banner Layout -->

                                <!-- News Layout -->
                                <%- include('./includes/news_layout') %>
                                    <!-- END News Layout -->


                                    <!-- Menu User Layout -->
                                    <%- include('./includes/menu_user') %>
                                        <!-- END Menu User Layout -->





                                        <app-game-category _ngcontent-serverapp-c163="" _nghost-serverapp-c162="">
                                            <div _ngcontent-serverapp-c181="" class="game-category">
                                                <div _ngcontent-serverapp-c153="" class="section-category-wrap">
                                                    <swiper _ngcontent-serverapp-c153=""
                                                        class="swiper swiper-initialized swiper-horizontal swiper-ios swiper-backface-hidden"><!----><!----><!---->
                                                        <div class="swiper-wrapper"><!----><!---->
                                                            <div data-swiper-slide-index="1" class="swiper-slide swiper-slide-next" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="Live entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/live.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">CASINO</span></div><!----><!----><!---->
                                                            </div>                                                           
                                                            <div data-swiper-slide-index="2" class="swiper-slide" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="Slot entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/slot.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">NỔ HŨ</span></div><!----><!----><!---->
                                                            </div>
                                                            <div data-swiper-slide-index="3" class="swiper-slide" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="Fish entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/fish.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">BẮN CÁ</span></div><!----><!----><!---->
                                                            </div>
                                                            <div data-swiper-slide-index="4" class="swiper-slide" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="Sport entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/sport.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">THỂ THAO</span></div><!----><!----><!---->
                                                            </div>
                                                            <div data-swiper-slide-index="5" class="swiper-slide" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="Board entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/board.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">GAME BÀI</span></div><!----><!----><!---->
                                                            </div>
                                                            <div data-swiper-slide-index="6" class="swiper-slide" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="Lottery entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/lottery.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">XỔ SỐ</span></div><!----><!----><!---->
                                                            </div>
                                                            <div data-swiper-slide-index="7" class="swiper-slide" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="Cockfighting entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/cock.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">ĐÁ GÀ</span></div><!----><!----><!---->
                                                            </div>
                                                            <div data-swiper-slide-index="8" class="swiper-slide" style="width: 81.2px;"><!---->
                                                                <div _ngcontent-serverapp-c153="" class="LIVE Game entrance"><i _ngcontent-serverapp-c153=""><img
                                                                            _ngcontent-serverapp-c153=""
                                                                            src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/category/live_game.png"></i><span
                                                                        _ngcontent-serverapp-c153="" class="title">Live Game</span></div><!----><!----><!---->
                                                            </div><!----><!----><!----><!---->
                                                        </div><!---->
                                                    </swiper>
                                                    <button _ngcontent-serverapp-c153="" class="swiper-button-prev swiper-button-disabled" disabled="">
                                                        <i _ngcontent-serverapp-c153="" class="fas fa-caret-left">
                                                 </i>
                                                </button>
                                                <button _ngcontent-serverapp-c153="" class="swiper-button-next">
                                                    <i _ngcontent-serverapp-c153="" class="fas fa-caret-right"></i></button>
                                                </div>
                                                    <a _ngcontent-serverapp-c153="" target="_blank" class="bgImg ng-star-inserted" href="https://shb27.com/daisu"><img
                                                        _ngcontent-serverapp-c153="" alt=""
                                                        src="https://qk3x72.katawee.net/system-requirement/Web.MobileNew/UK254-01/926891c543/assets/images/game-category/banner.png"></a>
                                                </div>



                                                <!-- Jackpot Layout -->
                                                <%- include('./includes/jackout_layout') %>
                                                    <!-- END Jackpot Layout -->

                                                    <!-- Relation Layout -->
                                                        <%- include('./includes/sidebar_menu') %>
                                                    <!-- END Relation Layout -->

                                        </app-game-category>




                                        <!-- Footer Layout -->
                                        <!--    <%- include('./includes/footer_layout') %> -->
                                        <!-- END Footer Layout -->
                        </app-home>


                        <!-- Menu Bar -->
                        <%- include('./includes/menu_bar') %>
                            <!-- END Menu Bar -->

                </app-normal-layout>




                <script>
                    window.__lc = window.__lc || {};
                    window.__lc.license = 18503280;
                    window.__lc.integration_name = "manual_onboarding";
                    window.__lc.product_name = "livechat";
                    ; (function (n, t, c) { function i(n) { return e._h ? e._h.apply(null, n) : e._q.push(n) } var e = { _q: [], _h: null, _v: "2.0", on: function () { i(["on", c.call(arguments)]) }, once: function () { i(["once", c.call(arguments)]) }, off: function () { i(["off", c.call(arguments)]) }, get: function () { if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load."); return i(["get", c.call(arguments)]) }, call: function () { i(["call", c.call(arguments)]) }, init: function () { var n = t.createElement("script"); n.async = !0, n.type = "text/javascript", n.src = "https://cdn.livechatinc.com/tracking.js", t.head.appendChild(n) } }; !n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e }(window, document, [].slice))
                </script>
                <noscript>
                    <a href="https://www.livechat.com/chat-with/18503280/" rel="nofollow">Chat with us</a>, powered by
                    <a href="https://www.livechat.com/?welcome" rel="noopener nofollow"
                        target="_blank">LiveChat</a></noscript>
                <!-- End of LiveChat code -->

            </app-sample-layout>
        </app-root>

        <!-- Notify Modal -->
        <%- include('./includes/notify_modal') %>
            <!-- END Notify Modal -->

            <script type="text/javascript" src="/core/js/app.js"></script>
    </body>

    <!-- Footer -->
    <%- include('./includes/footer') %>
        <!-- END Footer -->